In [ ]:
## House Price Prediction Example

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"data\house_data.csv")

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
df.corr()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,1.000000,-0.016762,0.001286,0.005160,-0.012258,-0.132109,0.018525,-0.002721,0.011592,-0.023783,0.008130,-0.010842,-0.005151,0.021380,-0.016907,-0.008224,-0.001891,0.020799,-0.002901,-0.138798
price,-0.016762,1.000000,0.308350,0.525138,0.702035,0.089661,0.256794,0.266369,0.397293,0.036362,0.667434,0.605567,0.323816,0.054012,0.126434,-0.053203,0.307003,0.021626,0.585379,0.082447
bedrooms,0.001286,0.308350,1.000000,0.515884,0.576671,0.031703,0.175429,-0.006582,0.079532,0.028472,0.356967,0.477600,0.303093,0.154178,0.018841,-0.152668,-0.008931,0.129473,0.391638,0.029244
bathrooms,0.005160,0.525138,0.515884,1.000000,0.754665,0.087740,0.500653,0.063744,0.187737,-0.124982,0.664983,0.685342,0.283770,0.506019,0.050739,-0.203866,0.024573,0.223042,0.568634,0.087175
sqft_living,-0.012258,0.702035,0.576671,0.754665,1.000000,0.172826,0.353949,0.103818,0.284611,-0.058753,0.762704,0.876597,0.435043,0.318049,0.055363,-0.199430,0.052529,0.240223,0.756420,0.183286
sqft_lot,-0.132109,0.089661,0.031703,0.087740,0.172826,1.000000,-0.005201,0.021604,0.074710,-0.008958,0.113621,0.183512,0.015286,0.053080,0.007644,-0.129574,-0.085683,0.229521,0.144608,0.718557
floors,0.018525,0.256794,0.175429,0.500653,0.353949,-0.005201,1.000000,0.023698,0.029444,-0.263768,0.458183,0.523885,-0.245705,0.489319,0.006338,-0.059121,0.049614,0.125419,0.279885,-0.011269
waterfront,-0.002721,0.266369,-0.006582,0.063744,0.103818,0.021604,0.023698,1.000000,0.401857,0.016653,0.082775,0.072075,0.080588,-0.026161,0.092885,0.030285,-0.014274,-0.041910,0.086463,0.030703
view,0.011592,0.397293,0.079532,0.187737,0.284611,0.074710,0.029444,0.401857,1.000000,0.045990,0.251321,0.167649,0.276947,-0.053440,0.103917,0.084827,0.006157,-0.078400,0.280439,0.072575
condition,-0.023783,0.036362,0.028472,-0.124982,-0.058753,-0.008958,-0.263768,0.016653,0.045990,1.000000,-0.144674,-0.158214,0.174105,-0.361417,-0.060618,0.003026,-0.014941,-0.106500,-0.092824,-0.003406
grade,0.008130,0.667434,0.356967,0.664983,0.762704,0.113621,0.458183,0.082775,0.251321,-0.144674,1.000000,0.755923,0.168392,0.446963,0.014414,-0.184862,0.114084,0.198372,0.713202,0.119248
sqft_above,-0.010842,0.605567,0.477600,0.685342,0.876597,0.183512,0.523885,0.072075,0.167649,-0.158214,0.755923,1.000000,-0.051943,0.423898,0.023285,-0.261190,-0.000816,0.343803,0.731870,0.194050
sqft_basement,-0.005151,0.323816,0.303093,0.283770,0.435043,0.015286,-0.245705,0.080588,0.276947,0.174105,0.168392,-0.051943,1.000000,-0.133124,0.071323,0.074845,0.110538,-0.144765,0.200355,0.017276
yr_built,0.021380,0.054012,0.154178,0.506019,0.318049,0.053080,0.489319,-0.026161,-0.053440,-0.361417,0.446963,0.423898,-0.133124,1.000000,-0.224874,-0.346869,-0.148122,0.409356,0.326229,0.070958
yr_renovated,-0.016907,0.126434,0.018841,0.050739,0.055363,0.007644,0.006338,0.092885,0.103917,-0.060618,0.014414,0.023285,0.071323,-0.224874,1.000000,0.064357,0.029398,-0.068372,-0.002673,0.007854
zipcode,-0.008224,-0.053203,-0.152668,-0.203866,-0.199430,-0.129574,-0.059121,0.030285,0.084827,0.003026,-0.184862,-0.261190,0.074845,-0.346869,0.064357,1.000000,0.267048,-0.564072,-0.279033,-0.147221
lat,-0.001891,0.307003,-0.008931,0.024573,0.052529,-0.085683,0.049614,-0.014274,0.006157,-0.014941,0.114084,-0.000816,0.110538,-0.148122,0.029398,0.267048,1.000000,-0.135512,0.048858,-0.086419
long,0.020799,0.021626,0.129473,0.223042,0.240223,0.229521,0.125419,-0.041910,-0.078400,-0.106500,0.198372,0.343803,-0.144765,0.409356,-0.068372,-0.564072,-0.135512,1.000000,0.334605,0.254451
sqft_living15,-0.002901,0.585379,0.391638,0.568634,0.756420,0.144608,0.279885,0.086463,0.280439,-0.092824,0.713202,0.731870,0.200355,0.326229,-0.002673,-0.279033,0.048858,0.334605,1.000000,0.183192
sqft_lot15,-0.138798,0.082447,0.029244,0.087175,0.183286,0.718557,-0.011269,0.030703,0.072575,-0.003406,0.119248,0.194050,0.017276,0.070958,0.007854,-0.147221,-0.086419,0.254451,0.183192,1.000000

In [5]:
important_features = ['price','bedrooms','bathrooms','floors','waterfront','grade','lat','long']
data = df[important_features]

In [6]:
data.head()

      price  bedrooms  bathrooms  floors  waterfront  grade      lat     long
0  221900.0         3       1.00     1.0           0      7  47.5112 -122.257
1  538000.0         3       2.25     2.0           0      7  47.7210 -122.319
2  180000.0         2       1.00     1.0           0      6  47.7379 -122.233
3  604000.0         4       3.00     1.0           0      7  47.5208 -122.393
4  510000.0         3       2.00     1.0           0      8  47.6168 -122.045

In [7]:
data.describe()

,price,bedrooms,bathrooms,floors,waterfront,grade,lat,long
count,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,5.400881e+05,3.370842,2.114757,1.494309,0.007542,7.656873,47.560053,-122.213896
std,3.671272e+05,0.930062,0.770163,0.539989,0.086517,1.175459,0.138564,0.140828
min,7.500000e+04,0.000000,0.000000,1.000000,0.000000,1.000000,47.155900,-122.519000
25%,3.219500e+05,3.000000,1.750000,1.000000,0.000000,7.000000,47.471000,-122.328000
50%,4.500000e+05,3.000000,2.250000,1.500000,0.000000,7.000000,47.571800,-122.230000
75%,6.450000e+05,4.000000,2.500000,2.000000,0.000000,8.000000,47.678000,-122.125000
max,7.700000e+06,33.000000,8.000000,3.500000,1.000000,13.000000,47.777600,-121.315000

In [8]:
#Chick pre-processing
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 8 columns):
price         21613 non-null float64
bedrooms      21613 non-null int64
bathrooms     21613 non-null float64
floors        21613 non-null float64
waterfront    21613 non-null int64
grade         21613 non-null int64
lat           21613 non-null float64
long          21613 non-null float64
dtypes: float64(5), int64(3)
memory usage: 1.3 MB

In [9]:
X = data.iloc[:, 1:].values
Y = data.iloc[:, 0].values

In [10]:
X

array([[   3.    ,    1.    ,    1.    , ...,    7.    ,   47.5112,
        -122.257 ],
       [   3.    ,    2.25  ,    2.    , ...,    7.    ,   47.721 ,
        -122.319 ],
       [   2.    ,    1.    ,    1.    , ...,    6.    ,   47.7379,
        -122.233 ],
       ...,
       [   2.    ,    0.75  ,    2.    , ...,    7.    ,   47.5944,
        -122.299 ],
       [   3.    ,    2.5   ,    2.    , ...,    8.    ,   47.5345,
        -122.069 ],
       [   2.    ,    0.75  ,    2.    , ...,    7.    ,   47.5941,
        -122.299 ]])

In [11]:
Y

array([221900., 538000., 180000., ..., 402101., 400000., 325000.])

In [12]:

from sklearn.cross_validation import train_test_split

C:\Users\Reda\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [13]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3)

In [14]:
x_train

array([[   3.    ,    1.75  ,    1.5   , ...,    7.    ,   47.6988,
        -122.32  ],
       [   3.    ,    1.75  ,    1.    , ...,    7.    ,   47.6978,
        -122.316 ],
       [   6.    ,    3.25  ,    2.    , ...,    8.    ,   47.6464,
        -122.401 ],
       ...,
       [   2.    ,    1.    ,    1.    , ...,    6.    ,   47.4989,
        -122.317 ],
       [   3.    ,    1.    ,    1.    , ...,    7.    ,   47.6706,
        -122.268 ],
       [   3.    ,    2.    ,    1.    , ...,    8.    ,   47.6227,
        -122.207 ]])

In [15]:
x_test

array([[   4.    ,    2.5   ,    2.    , ...,    9.    ,   47.384 ,
        -122.149 ],
       [   3.    ,    1.    ,    1.    , ...,    6.    ,   47.5291,
        -122.356 ],
       [   3.    ,    1.5   ,    1.    , ...,    7.    ,   47.7126,
        -122.211 ],
       ...,
       [   2.    ,    1.5   ,    2.    , ...,    7.    ,   47.7178,
        -122.19  ],
       [   3.    ,    2.5   ,    2.    , ...,    8.    ,   47.3494,
        -122.301 ],
       [   3.    ,    2.25  ,    3.    , ...,    7.    ,   47.7052,
        -122.346 ]])

In [16]:
y_train

array([ 536000.,  575700.,  696000., ...,  209000.,  525000., 1190000.])

In [17]:
y_test

array([330000., 342000., 370000., ..., 289000., 335000., 280000.])

In [18]:

from sklearn.linear_model import LinearRegression

In [19]:
lin_reg = LinearRegression()
lin_reg.fit(x_train, y_train)

print("b = ", lin_reg.intercept_)
print("a = ", lin_reg.coef_)

b =  -55547113.795065634
a =  [  21625.73808851   80011.23618555  -65025.8495003   870333.50748442
  171672.9630933   633002.15499634 -200597.55916797]

In [20]:
y_predicted = lin_reg.predict(x_test)

In [21]:
y_predicted

array([651387.58374576, 193124.25903706, 491872.08958561, ...,
       404299.56446026, 466677.83699461, 444225.27226488])

In [22]:
#Specify the House features your self:

In [23]:
your_predicted = lin_reg.predict([[4, 2, 1, 0, 7, 47.7379, -122.257]])
your_predicted

array([578745.88801003])

In [ ]:
#select rows whose column value equals a scalar

In [ ]:
data.loc[df['price'] == 1275000]

In [ ]:
#To select rows whose column value is in an iterable

In [ ]:
data.loc[df['bedrooms'].isin([6])]